<html>
<head>
	<title>404 NOT FOUND</title>
	<link rel="stylesheet" type="text/css" href="./css/common.css" />
	<link rel="import" href="./components/core-header-panel/core-header-panel.html" />
	<link rel="import" href="./components/core-toolbar/core-toolbar.html" />
	<link rel="import" href="./components/paper-tabs/paper-tabs.html" />
	<link rel="import" href="./components/post-card.html" />
</head>

<body unresolved>
  <core-header-panel>

    <core-toolbar>
      <paper-tabs id="tabs" selected="all" self-end>
        <p>ERROR !</p>
      </paper-tabs>
    </core-toolbar>

    <div class="container" layout vertical center>
      	<post-card>
			<h2>ERROR</h2>
			<p>404 NOT FOUND</p>
		</post-card>
    </div>

  </core-header-panel>
</body>

</html>